<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Error</title>
    <div th:insert="fragments/head :: head"></div>
  </head>

  <body>
    <div class="container text-center">
      <i class="fa fa-exclamation-triangle fa-6x" aria-hidden="true"></i>
      <h1 th:text="#{error.oops}">Something went wrong!</h1>
      <p th:text="#{error.message}">
        Please contact the system administrator providing details of what you
        have done.
      </p>
    </div>
  </body>
</html>
